.slideshow {
    overflow: hidden;
    height: 400px;
    position: relative;
    width: 600px;
    margin: auto;
}
  
.slide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: transform 0.5, opacity 0.5s; 
}
  
.active {
    opacity: 1;
    transform: translateX(-100%); 
}

@media (max-width: 767px) {

    .slideshow{
        width: 100%;
    }
    
}